body {
    font-family: "Carter One", system-ui;
    background-color: rgb(104, 169, 151);
    color: #333;
    line-height: 1.6;
}


header {
    text-align: center;
    padding-bottom: 20px;
    margin-top: 10px;
    grid-area: hd;
}

header h1 {
    font-size: 3.5rem;
    color: #fdfdfd;
    font-family: "Carter One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.container {
max-width: 1200px;
margin: 0 auto;
padding: 0px;
display: grid;
grid-template-areas: 
"hd hd"
"nm rv"
"lt dh"
;
}

.container2 {
    display: flex;
    align-items:start;
    gap: 30px; 
    padding: 10px;
}

.header h1 {
    font-family: "Carter One", system-ui;
    font-size: 3.5rem;
}

.header h4 {
    font-family: "Carter One", system-ui;
    font-size: 1.2rem;
    margin-top: -10px;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding-top: 60px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-weight: bold;
    font-family: "Carter One", system-ui;
    margin-bottom: 5px;
}

.input-group input {
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background: white
    font-size 16px;
    transition-property: 0.3s;
}

.input-group input:focus {
    border: 2px solid teal;
    outline: none;

}

.buttons {
    margin-top: 100px;
}

.save {
    font-family: "Carter One", system-ui;
    font-size: larger;
    background-color:rgb(38, 103, 85) ;
    color: #fdfdfd;
}

.cancel {
    font-family: "Carter One", system-ui;
    font-size: larger;
    background-color: #5f5e5e;
    color: #fdfdfd;
}
